<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script>
            $(document).ready(function(){
            $('.sortSelect').formSelect().change(function() {
                this.form.submit();
            });;
            });
            $(document).ready(function(){
            $('.fieldSelect').formSelect().change(function() {
                this.form.submit();
            });;
            });
            $(document).ready(function(){
            $('.sidoSelect').formSelect().change(function() {
                this.form.submit();
            });;
            });
        </script>
    </head>
    <body>
        
        
        <h2 class="list-title">집회 모아보기</h2>
        
        
        <hr>
        
        <div class="container" style="padding-bottom:0;">
        <div class="row">
        
            <div class="input-field col s2">
                <form action="/valueplus/field" method="post">
                    <select name="field" class="fieldSelect" style="color:red;">
                        <option value="" disabled selected>분야</option>
                        <option value="politic">정치</option>
                        <option value="society">사회일반</option>
                        <option value="education">교육</option>
                        <option value="labor">노동</option>
                        <option value="foodMedi">식품/의료</option>
                        <option value="press">언론</option>
                        <option value="environment">환경</option>
                        <option value="right">인권/복지</option>
                        <option value="female">여성</option>
                    </select>
                    <label></label>
                </form>
            </div>
            
            <div class="input-field col s2">
                <form action="/valueplus/sido" method="post">
                    <select name="sido" class="sortSelect">
                        <option value="" disabled selected>지역</option>
                        <option value="seoul">서울</option>
                        <option value="incheon">인천</option>
                        <option value="gyeonggi">경기</option>
                        <option value="busan">부산</option>
                        <option value="gangwon">강원</option>
                        <option value="chungbuk">충북</option>
                        <option value="sejong">세종</option>
                        <option value="chungnam">충남</option>
                        <option value="daejun">대전</option>
                        <option value="gyeongbuk">경북</option>
                        <option value="daegu">대구</option>
                        <option value="ulsan">울산</option>
                        <option value="gyeongnam">경남</option>
                        <option value="junbuk">전북</option>
                        <option value="junnam">전남</option>
                        <option value="gwuangju">광주</option>
                        <option value="jeju">제주</option>
                    </select>
                    <label></label>
                </form>
            </div>
            
            <div class="input-field col s2 right-align">
                <form action="/valueplus/sort" method="post">
                    <select name="sort" class="sortSelect">
                        <option value="" disabled selected>정렬</option>
                        <option value="like">추천순</option>
                        <option value="recent">최신순</option>
                    </select>
                    <label></label>
                </form>
            </div>
        
        </div>
        </div>

        
 <div class="card-collection">
            
            <div class="container" style="padding-left:0; padding-right:0; padding-top:0;">
                <div class="row">
                        <!--반복 부분-->
                        
                        <% @assembly.each do |a|%>
                        <div class="col s3 m3 l3">
                           
                                <div class="card" style="padding-bottom:20px;">
                                    <%if a.thumbnail.blank? %>
                                        <img src="http://imgdb.kr/e8Tl.jpg" style="width:100%">
                                    <%else%>
                                        <img src="<%= a.thumbnail.url %>" alt="thumbnail" style="width:100%">
                                    <%end%>                                    
                                    <div class="card-typo">
                                        <a href="/valueplus/show/<%=a.id%>"><h4 class="card-title" style="font-size:18px; font-weight:800;"><%= a.title%></h4></a>
                                        <p class="card-subtitle" style="font-size:13px;">
                                            <% if a.category == 0%>
                                            정치
                                            <% end %>
                                            <% if a.category == 1%>
                                            사회
                                            <% end %>
                                            <% if a.category == 2%>
                                            교육
                                            <% end %>
                                            <% if a.category == 3%>
                                            노동
                                            <% end %>
                                            <% if a.category == 4%>
                                            식품/의료
                                            <% end %>
                                            <% if a.category == 5%>
                                            언론
                                            <% end %>
                                            <% if a.category == 6%>
                                            환경
                                            <% end %>
                                            <% if a.category == 7%>
                                            인권
                                            <% end %>
                                            <% if a.category == 8%>
                                            여성
                                            <% end %></p>
                                            
                                        <hr class="card-hr">
                                        
                                        <div class="row">
                                            <div class="col s4 inline-block card-text-bottom" style="padding-right:0;">
                                                <p class="card-text left-align" style="font-size:13px;">
                                                    <!--<i class="material-icons red-text tiny vertical-align-middle event">event</i>-->
                                                    <% remain = a.calendar - Date.today %>
                                                    <% if remain == 0 %>
                                                        오늘
                                                    <% else %>
                                                        <span style="color:red;"><b><%= remain.to_i%></b></span> 일 남음
                                                    <% end %>
                                                </p>
                                            </div>
                                            <div class="col s8 right-align card-text-bottom"  style="padding-left:0;">
                                                <i class="material-icons red-text tiny vertical-align-middle money">monetization_on</i> 
                                                <span class="card-money inline-block" style="font-size:13px;"><%=a.donateGoal%> 원 목표</span></div>
                                        </div>
                                    </div>
                                
                                </div>
                            
                        </div>
                    <% end %>  
                        <!--반복 부분 끝-->
                        
                </div>
            </div> 
        </div>
         
        
        
    </body>
    
</html>