<head>
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script>
            $(document).ready(function() {
              M.updateTextFields();
            });
        </script>
</head>

<body>
  
  <div class="row login">
    <div class="col s6 login-img">
      <p class="white-text login-p">같은 가치를 추구하는 사람들과
                                                    <br>함께 힘을 모으세요</p>
      <i class="material-icons white-text wifi">wifi</i><p class="white-text login-p1">글을 올려 집회/시위를 홍보하세요</p>
      <i class="material-icons white-text person_add">person_add</i><p class="white-text login-p2">집회에 도움을 줄 수 있는 사람을 찾아보세요</p>
      <i class="material-icons white-text cloud">cloud</i><p class="white-text login-p3">크라우드 펀딩을 통해 후원해보세요</p>
      <img class="login-img background" src="http://imgdb.kr/e7GI.jpg">
    </div>
    <div class="col s6">
      <h2 class="login-title">같이가치</h2>
      <h6 class="login-subtitle">화력을 높이는 집회/시위 정보 공유 사이트</h6>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
     
        <div class="input-field login-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="input-field login-field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      
        <!--<% if devise_mapping.rememberable? -%>-->
        <!--  <div class="field">-->
        <!--    <%= f.check_box :remember_me %>-->
        <!--    <%= f.label :remember_me %>-->
        <!--  </div>-->
        <% end -%>
      
        <div class="actions waves-effect waves-red btn-flat" style="font-size:18px; text-align:center; line-height:48px;">
          <%= f.submit "Login" %>
        </div>
        
        
      <% end %>
      
      <div class="login-bottom">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  
</body>